---
import ArticleLayout from "../../../layouts/ArticleLayout.astro";

const breadcrumbs = [
  { label: "Kierunki", href: "/tematy/" },
  { label: "Historia", href: "/tematy/historia/" },
];

const relatedLinks = [
  {
    label: "Struktura pracy magisterskiej",
    href: "/poradniki/struktura/",
  },
  { label: "Jak napisać wstęp", href: "/poradniki/wstep/" },
  { label: "Bibliografia - kompletny poradnik", href: "/poradniki/bibliografia/" },
  { label: "Przypisy dolne i końcowe", href: "/poradniki/przypisy/" },
];
---

<ArticleLayout
  title="100 tematów prac magisterskich z historii 2026/2027 - przykłady"
  description="100 tematów prac magisterskich z historii: starożytność, mediewistyka, historia nowożytna, XIX wiek, II wojna światowa, PRL, historia regionalna i społeczna. Tematy oparte na źródłach, z określonym zakresem i bazą źródłową."
  readingTime="26 min"
  breadcrumbs={breadcrumbs}
  relatedLinks={relatedLinks}
>
  <p>
    Praca magisterska z historii różni się od prac na większości kierunków
    jednym zasadniczym wymogiem: musi być oparta na <strong>samodzielnej
    analizie źródeł</strong> i wnosić choćby przyczynkarski, ale oryginalny
    wkład do wiedzy o przeszłości. Dobry temat nie jest więc streszczeniem
    istniejącej literatury, lecz pytaniem badawczym, na które można odpowiedzieć
    dzięki krytycznej analizie materiału źródłowego – akt archiwalnych, prasy,
    pamiętników, korespondencji, dokumentów urzędowych czy relacji świadków.
    Poniżej przedstawiamy 100 starannie dobranych tematów, które spełniają
    wymogi akademickie: każdy ma określony <strong>zakres chronologiczny</strong>,
    często <strong>ramy terytorialne</strong> oraz wskazaną <strong>bazę
    źródłową</strong>, co ułatwia ocenę wykonalności kwerendy i sformułowanie
    problemu badawczego. Tematy uwzględniają różnorodne subdyscypliny – od
    historii starożytnej, przez dzieje nowożytne i najnowsze, po historię
    regionalną, społeczną i gospodarczą.
  </p>

  <div class="callout-box">
    <p>
      📄 <strong>Zobacz, jak wygląda gotowa praca:</strong>
      <a href="/tematy/historia/przykladowa-praca/">Przykładowa praca magisterska z
      historii – wzór z omówieniem</a>. Rozbieramy wzorcową pracę opartą na źródłach
      fragment po fragmencie i udostępniamy cały szablon do pobrania w PDF i Word.
    </p>
  </div>

  <h2>Historia starożytna</h2>

  <p>
    Historia starożytna obejmuje dzieje cywilizacji Bliskiego Wschodu, Grecji i
    Rzymu. Prace magisterskie z tego obszaru opierają się przede wszystkim na
    źródłach narracyjnych (dzieła antycznych historyków), epigraficznych,
    numizmatycznych oraz archeologicznych. Kluczowe znaczenie ma znajomość
    języków klasycznych lub korzystanie z krytycznych wydań i przekładów źródeł,
    a także umiejętność ich krytyki w warunkach ograniczonej bazy źródłowej.
  </p>

  <ol>
    <li>
      Propaganda polityczna na monetach rzymskich okresu pryncypatu Augusta
    </li>
    <li>
      Pozycja i rola kobiet w życiu publicznym republikańskiego Rzymu w świetle
      źródeł literackich
    </li>
    <li>Kult władcy w hellenistycznej monarchii Ptolemeuszy</li>
    <li>
      Niewolnictwo w gospodarce późnej republiki rzymskiej – skala zjawiska i
      jego funkcje
    </li>
    <li>
      Obraz „barbarzyńców" w piśmiennictwie greckim epoki klasycznej
    </li>
    <li>
      Reformy ustrojowe Solona a geneza demokracji ateńskiej
    </li>
    <li>
      Chrystianizacja Cesarstwa Rzymskiego w IV wieku w świetle ustawodawstwa
      cesarskiego
    </li>
    <li>
      Organizacja i strategia armii rzymskiej w okresie wojen punickich
    </li>
  </ol>

  <h2>Historia średniowieczna (mediewistyka)</h2>

  <p>
    Mediewistyka bada dzieje od upadku Cesarstwa Zachodniorzymskiego do
    przełomu XV i XVI wieku. Charakterystyczną cechą warsztatu mediewisty jest
    praca z ograniczonym i często fragmentarycznym materiałem źródłowym:
    kronikami, dokumentami, aktami prawnymi, źródłami hagiograficznymi czy
    materiałem dyplomatycznym. Wymaga to szczególnej staranności w krytyce
    źródeł oraz znajomości nauk pomocniczych historii (dyplomatyki,
    paleografii, sfragistyki).
  </p>

  <ol start="9">
    <li>Ideologia władzy monarszej w „Kronice" Galla Anonima</li>
    <li>
      Lokacja miast na prawie magdeburskim w średniowiecznej Małopolsce
    </li>
    <li>
      Rola klasztorów cysterskich w kolonizacji ziem polskich w XIII wieku
    </li>
    <li>
      Stosunki polsko-krzyżackie w świetle dokumentów dyplomatycznych XIV–XV
      wieku
    </li>
    <li>
      Pozycja prawna i społeczna chłopa w Polsce późnego średniowiecza
    </li>
    <li>Kult świętych a pobożność ludowa w Polsce piastowskiej</li>
    <li>
      Funkcjonowanie dworu monarszego za panowania Kazimierza Wielkiego
    </li>
    <li>
      Obraz „czarnej śmierci" w kronikarstwie europejskim XIV wieku
    </li>
  </ol>

  <h2>Historia nowożytna (XVI–XVIII wiek)</h2>

  <p>
    Historia nowożytna obejmuje epokę od przełomu średniowiecza i renesansu po
    schyłek Rzeczypospolitej Obojga Narodów. Baza źródłowa jest tu już znacznie
    bogatsza: akta sejmowe i sejmikowe, lustracje i inwentarze, pamiętniki,
    korespondencja, druki ulotne oraz akta miejskie i sądowe. Prace z tego
    okresu pozwalają na łączenie historii politycznej, ustrojowej, gospodarczej
    i społecznej oraz na stosowanie metody statystycznej wobec źródeł masowych.
  </p>

  <ol start="17">
    <li>
      Tolerancja religijna w Rzeczypospolitej w świetle konfederacji
      warszawskiej 1573 roku
    </li>
    <li>
      Funkcjonowanie sejmików ziemskich w XVII-wiecznej Rzeczypospolitej
    </li>
    <li>
      Życie codzienne magnaterii kresowej w XVII wieku w świetle inwentarzy i
      korespondencji
    </li>
    <li>
      Wojny Rzeczypospolitej ze Szwecją a kryzys gospodarczy połowy XVII wieku
    </li>
    <li>
      Reformy Sejmu Wielkiego jako próba modernizacji państwa polsko-litewskiego
    </li>
    <li>
      Propaganda wyznaniowa w drukach ulotnych okresu reformacji w Polsce
    </li>
    <li>
      Handel zbożem a gospodarka folwarczno-pańszczyźniana w XVI–XVII wieku
    </li>
    <li>
      Sarmatyzm jako ideologia szlachecka w świetle pamiętnikarstwa XVII wieku
    </li>
  </ol>

  <h2>Historia XIX wieku: zabory i powstania narodowe</h2>

  <p>
    Dzieje ziem polskich w XIX wieku to historia narodu pozbawionego własnego
    państwa, funkcjonującego w trzech odmiennych organizmach zaborczych. Prace
    z tego okresu wykorzystują obszerną bazę źródłową: akta administracji
    zaborczej, materiały policyjne i śledcze, prasę, pamiętniki, korespondencję
    oraz dokumenty organizacji konspiracyjnych i emigracyjnych. Pozwala to
    badać zarówno politykę zaborców, jak i przemiany społeczne, gospodarcze
    oraz ruch narodowy.
  </p>

  <ol start="25">
    <li>
      Polityka germanizacyjna w zaborze pruskim w drugiej połowie XIX wieku
    </li>
    <li>
      Działalność konspiracyjna w przededniu powstania styczniowego w świetle
      akt śledczych
    </li>
    <li>
      Rusyfikacja szkolnictwa w Królestwie Polskim po 1864 roku
    </li>
    <li>
      Pozytywizm warszawski jako program społeczny w świetle prasy epoki
    </li>
    <li>
      Wielka Emigracja we Francji po upadku powstania listopadowego
    </li>
    <li>
      Przemiany społeczne na wsi galicyjskiej po uwłaszczeniu 1848 roku
    </li>
    <li>
      Narodziny ruchu robotniczego na ziemiach polskich na przełomie XIX i XX
      wieku
    </li>
    <li>
      Udział kobiet w pracy konspiracyjnej i oświatowej w okresie zaborów
    </li>
    <li>
      Rozwój przemysłowej Łodzi a przemiany demograficzne miasta w XIX wieku
    </li>
  </ol>

  <h2>Dwudziestolecie międzywojenne (1918–1939)</h2>

  <p>
    Okres II Rzeczypospolitej to czas odbudowy państwowości, integracji ziem
    trzech zaborów oraz głębokich sporów politycznych i społecznych. Bogata
    baza źródłowa – akta administracji państwowej, materiały partii
    politycznych, prasa, statystyki, pamiętniki – umożliwia badanie zagadnień
    ustrojowych, gospodarczych, narodowościowych i kulturalnych. Prace z tego
    okresu często łączą historię polityczną z historią społeczną i gospodarczą.
  </p>

  <ol start="34">
    <li>
      Kształtowanie się granic II Rzeczypospolitej w latach 1918–1922
    </li>
    <li>
      Polityka narodowościowa II RP wobec mniejszości ukraińskiej
    </li>
    <li>
      Przewrót majowy 1926 roku w świetle prasy obozu rządowego i opozycji
    </li>
    <li>
      Budowa Gdyni jako element polityki gospodarczej II Rzeczypospolitej
    </li>
    <li>
      Życie codzienne międzywojennej Warszawy w świetle prasy i pamiętników
    </li>
    <li>Reforma rolna w II RP – założenia i realizacja</li>
    <li>Polityka oświatowa i szkolnictwo II Rzeczypospolitej</li>
    <li>
      Wielki kryzys gospodarczy a sytuacja społeczna w Polsce lat 30.
    </li>
  </ol>

  <h2>II wojna światowa i okupacja</h2>

  <p>
    Lata 1939–1945 należą do najintensywniej badanych okresów historii Polski.
    Prace magisterskie z tego obszaru korzystają z akt okupacyjnych,
    dokumentów Polskiego Państwa Podziemnego, materiałów procesowych,
    dokumentacji niemieckiej i radzieckiej oraz relacji świadków (historia
    mówiona). Ze względu na drażliwość tematyki szczególne znaczenie ma
    rzetelna krytyka źródeł oraz wrażliwość etyczna w pracy z relacjami ofiar.
  </p>

  <ol start="42">
    <li>
      Struktury administracji cywilnej Polskiego Państwa Podziemnego w
      okupowanej Polsce
    </li>
    <li>
      Eksterminacja inteligencji polskiej w polityce okupanta niemieckiego
      (akcja AB)
    </li>
    <li>
      Życie codzienne pod okupacją niemiecką w Generalnym Gubernatorstwie
    </li>
    <li>Tajne nauczanie na ziemiach polskich w latach 1939–1945</li>
    <li>Obraz powstania warszawskiego w prasie konspiracyjnej</li>
    <li>
      Polityka okupacyjna ZSRR na Kresach Wschodnich w latach 1939–1941
    </li>
    <li>
      Losy ludności żydowskiej w wybranym getcie w świetle dokumentów i relacji
    </li>
    <li>Działalność kobiet w strukturach Armii Krajowej</li>
    <li>
      Deportacje ludności polskiej w głąb ZSRR w latach 1940–1941
    </li>
  </ol>

  <h2>Polska Ludowa i PRL (1944–1989)</h2>

  <p>
    Historia Polski powojennej jest dziś intensywnie opracowywana dzięki
    udostępnieniu akt aparatu partyjnego i bezpieczeństwa (m.in. zasobu IPN).
    Prace z tego okresu wykorzystują dokumenty władz, materiały operacyjne,
    prasę oficjalną i podziemną oraz relacje świadków. Pozwala to badać
    mechanizmy władzy, gospodarkę niedoboru, opozycję demokratyczną oraz
    przemiany społeczne i obyczajowe.
  </p>

  <ol start="51">
    <li>
      Propaganda władzy ludowej w prasie codziennej okresu stalinowskiego
    </li>
    <li>
      Kolektywizacja rolnictwa w Polsce w latach 1948–1956 i opór wsi
    </li>
    <li>
      Aparat bezpieczeństwa wobec opozycji w okresie stalinowskim w świetle akt
    </li>
    <li>
      Poznański Czerwiec 1956 roku w świetle dokumentów i relacji świadków
    </li>
    <li>Życie codzienne w PRL w warunkach gospodarki niedoboru</li>
    <li>
      Działalność opozycji demokratycznej w latach 1976–1980
    </li>
    <li>
      Stan wojenny 1981–1983 w świetle dokumentów i prasy podziemnej
    </li>
    <li>Rola Kościoła katolickiego w życiu społecznym PRL</li>
    <li>
      Migracje ze wsi do miast a industrializacja okresu planu sześcioletniego
    </li>
  </ol>

  <h2>Historia regionalna, lokalna i mikrohistoria</h2>

  <p>
    Historia regionalna i mikrohistoria koncentrują się na dziejach niewielkich
    jednostek terytorialnych i społeczności lokalnych, traktowanych jako
    „soczewka" pozwalająca obserwować szersze procesy historyczne. To obszar
    szczególnie wdzięczny dla prac magisterskich, ponieważ umożliwia
    samodzielną kwerendę w archiwach państwowych, parafialnych i prywatnych
    oraz wykorzystanie źródeł dotąd nieopracowanych (ksiąg metrykalnych, kronik
    szkolnych, akt cechowych, relacji ustnych).
  </p>

  <ol start="60">
    <li>
      Dzieje wybranej społeczności lokalnej w okresie międzywojennym
    </li>
    <li>
      Przemiany demograficzne małego miasta w świetle ksiąg metrykalnych
    </li>
    <li>
      Mniejszości narodowe w wybranym mieście w XIX i XX wieku
    </li>
    <li>
      Dzieje cechu rzemieślniczego w wybranym mieście w świetle ksiąg cechowych
    </li>
    <li>
      Funkcjonowanie wiejskiej szkoły w świetle zachowanej kroniki szkolnej
    </li>
    <li>
      Życie codzienne mieszkańców wybranej wsi w okresie powojennym w relacjach
      ustnych
    </li>
    <li>
      Przemiany krajobrazu kulturowego wybranego regionu w XX wieku
    </li>
    <li>
      Dziedzictwo przemysłowe wybranego regionu – geneza, rozkwit i zanik
    </li>
  </ol>

  <h2>Historia społeczna i historia życia codziennego</h2>

  <p>
    Historia społeczna bada struktury społeczne, grupy i warstwy, a także
    przemiany codzienności, obyczajowości i mentalności. Inspirowana
    antropologią historyczną i szkołą „Annales", przesuwa uwagę z wielkiej
    polityki na doświadczenie zwykłych ludzi. Prace z tego obszaru korzystają z
    pamiętników, korespondencji, prasy, źródeł ikonograficznych i materialnych
    oraz statystyk demograficznych i gospodarczych.
  </p>

  <ol start="68">
    <li>
      Przemiany modelu rodziny w polskim mieszczaństwie XIX wieku
    </li>
    <li>
      Higiena i opieka zdrowotna w polskim mieście przełomu XIX i XX wieku
    </li>
    <li>
      Obyczajowość i życie towarzyskie ziemiaństwa w drugiej połowie XIX wieku
    </li>
    <li>
      Pozycja społeczna kobiety w Polsce okresu międzywojennego
    </li>
    <li>
      Dzieciństwo i wychowanie w rodzinie chłopskiej w XIX wieku
    </li>
    <li>
      Kultura ludowa a procesy modernizacji wsi w XX wieku
    </li>
    <li>
      Codzienność w mieście przemysłowym w świetle pamiętników robotników
    </li>
    <li>
      Praktyki religijne i pobożność ludowa w społecznościach wiejskich
    </li>
  </ol>

  <h2>Historia gospodarcza</h2>

  <p>
    Historia gospodarcza analizuje procesy produkcji, wymiany i konsumpcji w
    przeszłości oraz ich wpływ na społeczeństwo i państwo. Charakterystyczne
    dla tej subdyscypliny jest wykorzystanie źródeł masowych i metody
    statystycznej – lustracji, inwentarzy, ksiąg rachunkowych, danych celnych i
    statystyk produkcji. Prace tego typu wymagają umiejętności pracy z danymi
    liczbowymi i ich krytycznej interpretacji.
  </p>

  <ol start="76">
    <li>
      Rozwój kolei żelaznej na ziemiach polskich a przemiany gospodarcze XIX
      wieku
    </li>
    <li>Bankowość i system kredytowy w II Rzeczypospolitej</li>
    <li>Polityka celna i handel zagraniczny II RP</li>
    <li>
      Gospodarka folwarczna wybranego majątku ziemskiego w XVIII wieku
    </li>
    <li>
      Rzemiosło i organizacja cechowa w gospodarce miejskiej okresu
      staropolskiego
    </li>
    <li>Industrializacja Górnego Śląska w XIX wieku</li>
    <li>Reformy gospodarcze okresu PRL a problem niedoboru</li>
    <li>
      Handel i kupiectwo w wybranym mieście w okresie nowożytnym
    </li>
  </ol>

  <h2>Historia wojskowości</h2>

  <p>
    Historia wojskowości obejmuje dzieje organizacji sił zbrojnych, sztuki
    wojennej, uzbrojenia oraz konkretnych kampanii i bitew. Prace z tego
    obszaru opierają się na dokumentacji wojskowej, relacjach uczestników,
    źródłach ikonograficznych oraz literaturze fachowej. Szczególnie wdzięczne
    badawczo są ujęcia lokalne – przebieg działań zbrojnych na wybranym terenie
    w oparciu o źródła regionalne i relacje świadków.
  </p>

  <ol start="84">
    <li>
      Organizacja i uzbrojenie wojska polskiego za panowania Stefana Batorego
    </li>
    <li>Taktyka husarii w wojnach Rzeczypospolitej XVII wieku</li>
    <li>Wojsko Księstwa Warszawskiego w kampaniach napoleońskich</li>
    <li>
      Organizacja i działalność oddziałów powstańczych w powstaniu styczniowym
    </li>
    <li>
      Wojna polsko-bolszewicka 1919–1921 w świetle dokumentów wojskowych
    </li>
    <li>Kampania wrześniowa 1939 roku na wybranym odcinku frontu</li>
    <li>
      Partyzantka i działania zbrojne podziemia na wybranym terenie w latach
      1939–1945
    </li>
    <li>
      Polskie Siły Zbrojne na Zachodzie w czasie II wojny światowej
    </li>
  </ol>

  <h2>Historia Kościoła, kultury i idei</h2>

  <p>
    Historia Kościoła, kultury i idei bada życie religijne, instytucje
    kościelne, myśl polityczną i społeczną oraz mecenat i obieg kultury. Łączy
    warsztat historyka z elementami historii intelektualnej i kulturowej. Baza
    źródłowa obejmuje akta kościelne i wizytacyjne, publicystykę,
    czasopiśmiennictwo, traktaty polityczne oraz źródła ikonograficzne. Prace z
    tego obszaru pozwalają badać przemiany mentalności i kształtowanie się
    opinii publicznej.
  </p>

  <ol start="92">
    <li>Rola zakonów w kulturze i oświacie staropolskiej</li>
    <li>Myśl polityczna polskiego oświecenia w świetle publicystyki</li>
    <li>
      Cenzura kościelna i państwowa w Rzeczypospolitej XVIII wieku
    </li>
    <li>
      Czasopiśmiennictwo a kształtowanie opinii publicznej w XIX wieku
    </li>
    <li>
      Polska myśl niepodległościowa na przełomie XIX i XX wieku
    </li>
    <li>Kościół katolicki wobec państwa w okresie międzywojennym</li>
    <li>Polityka kulturalna i propaganda w okresie PRL</li>
    <li>Mecenat artystyczny magnaterii w epoce baroku</li>
    <li>
      Recepcja idei oświeceniowych w środowisku szlacheckim Rzeczypospolitej
    </li>
  </ol>

  <h2>Jak wybrać temat pracy magisterskiej z historii?</h2>

  <p>
    Wybór tematu pracy z historii rządzi się odmiennymi prawami niż na
    kierunkach empirycznych. Po pierwsze, decyduje <strong>dostępność i
    obfitość źródeł</strong> – zanim sformułujesz ostateczny temat, sprawdź,
    czy istnieje wystarczająca baza źródłowa (archiwalna, drukowana, prasowa) i
    czy jest ona dla Ciebie fizycznie i językowo dostępna. Po drugie, temat
    powinien być <strong>odpowiednio zawężony</strong> – zarówno
    chronologicznie, jak i terytorialnie czy problemowo. Praca magisterska nie
    jest syntezą epoki, lecz pogłębionym studium wybranego zagadnienia. Po
    trzecie, warto szukać tematów <strong>deficytowych lub słabo
    opracowanych</strong>, zwłaszcza w obszarze historii regionalnej i
    lokalnej, gdzie wciąż istnieją źródła nieprzebadane.
  </p>

  <p>
    Przedstawione tematy stanowią punkt wyjścia do dalszego doprecyzowania.
    Przed ostatecznym sformułowaniem określ <strong>pytanie badawcze</strong> i
    zastanów się, na jakich konkretnie źródłach oprzesz pracę oraz w jakich
    archiwach i bibliotekach przeprowadzisz kwerendę. Skonsultuj temat z
    promotorem, który pomoże ocenić wykonalność projektu, wskaże literaturę i
    zweryfikuje, czy zagadnienie nie zostało już wyczerpująco opracowane.
    Pamiętaj, że o wartości pracy historycznej decyduje nie atrakcyjność
    tematu, lecz rzetelność warsztatu i samodzielność analizy źródeł.
  </p>

  <h2>Metodologia badań historycznych</h2>

  <p>
    Podstawą warsztatu historyka jest <strong>metoda historyczna</strong> –
    proces badawczy obejmujący gromadzenie, krytyczną analizę i interpretację
    źródeł w celu rekonstrukcji wydarzeń i procesów przeszłości. Punktem
    wyjścia jest <strong>kwerenda</strong>: biblioteczna (zgromadzenie
    literatury przedmiotu, także obcojęzycznej) oraz archiwalna (dotarcie do
    źródeł rękopiśmiennych i drukowanych). Źródła dzielimy na
    <strong>pierwotne</strong> (powstałe w badanej epoce: akta, dokumenty,
    korespondencja, relacje naocznych świadków, źródła materialne) oraz
    <strong>wtórne</strong> (późniejsze opracowania i interpretacje). To źródła
    pierwotne mają w pracy historycznej wartość rozstrzygającą.
  </p>

  <p>
    Kluczowym etapem jest <strong>krytyka źródeł</strong>. Krytyka zewnętrzna
    ustala autentyczność źródła – jego pochodzenie, autorstwo, czas i miejsce
    powstania. Krytyka wewnętrzna ocenia wiarygodność przekazu: intencje
    autora, jego wiedzę, możliwe przeinaczenia i kontekst powstania źródła.
    Dopiero tak zweryfikowany materiał staje się podstawą wnioskowania,
    najczęściej <strong>indukcyjnego</strong> – od analizy konkretnych
    przekazów do ogólniejszych ustaleń. W zależności od tematu historyk sięga
    też po metody szczegółowe: <strong>komparatystyczną</strong> (porównawczą),
    <strong>statystyczną</strong> (wobec źródeł masowych),
    <strong>retrogresywną</strong> oraz – w badaniach historii najnowszej –
    <strong>historię mówioną</strong> (oral history), polegającą na nagrywaniu
    i interpretacji relacji świadków.
  </p>

  <p>
    Pracę historyczną wyróżnia także <strong>aparat naukowy</strong>: rozbudowane
    przypisy dokumentujące każde ustalenie oraz bibliografia z wyraźnym
    podziałem na źródła i opracowania. Archiwalia opisuje się w szczególny
    sposób – podając nazwę archiwum (pełną i skróconą), nazwę i sygnaturę
    zespołu archiwalnego, numer jednostki oraz tytuł dokumentu. We wstępie
    pracy należy jasno przedstawić cel badawczy, stan badań, charakterystykę i
    krytykę wykorzystanej bazy źródłowej oraz zastosowaną metodę. Tak
    skonstruowana praca dowodzi opanowania warsztatu i samodzielności
    badawczej, których oczekuje się od magistra historii.
  </p>

  <style>
    .callout-box {
      border: 1px solid #c7d2fe;
      border-left: 4px solid #4f46e5;
      border-radius: 0.5rem;
      background: #f5f7ff;
      padding: 1rem 1.25rem;
      margin: 1.5rem 0;
    }
    .callout-box p {
      margin: 0;
    }
  </style>
</ArticleLayout>
