---
import ArticleLayout from "../../../layouts/ArticleLayout.astro";

const breadcrumbs = [
  { label: "Kierunki", href: "/tematy/" },
  { label: "Socjologia", href: "/kierunki/socjologia/" },
];

const relatedLinks = [
  {
    label: "Jak napisać pracę magisterską",
    href: "/poradniki/jak-napisac-prace-magisterska/",
  },
  { label: "Metodologia badań", href: "/poradniki/metodologia/" },
  {
    label: "Badania jakościowe",
    href: "/poradniki/metodologia/badania-jakosciowe/",
  },
  { label: "Jak przeprowadzić wywiad", href: "/poradniki/metodologia/wywiad/" },
];
---

<ArticleLayout
  title="108 tematów prac magisterskich z socjologii - inspiracje 2026"
  description="Profesjonalne tematy prac magisterskich i licencjackich z socjologii. Socjologia rodziny, pracy, miasta, kultury, mediów, zdrowia, edukacji, polityki i migracji. Konkretne tematy z badaniami jakościowymi i ilościowymi."
  readingTime="26 min"
  breadcrumbs={breadcrumbs}
  relatedLinks={relatedLinks}
>
  <p>
    Socjologia jako nauka o społeczeństwie oferuje niezwykle szerokie spektrum
    możliwości badawczych – od mikrosocjologicznych analiz interakcji
    międzyludzkich, przez badania instytucji społecznych, aż po
    makrosocjologiczne studia nad przemianami cywilizacyjnymi. Wybór tematu
    pracy magisterskiej z socjologii wymaga uwzględnienia aktualnych problemów
    społecznych, dostępu do grupy badawczej oraz możliwości zastosowania
    odpowiedniej metodologii. Poniżej przedstawiamy 108 starannie
    wyselekcjonowanych tematów, które spełniają wymogi akademickie – są
    konkretne, zawężone i możliwe do zrealizowania w ramach badań empirycznych.
    Każdy temat zawiera określoną grupę badawczą, kontekst społeczny lub metodę,
    co ułatwia projektowanie badań socjologicznych.
  </p>

  <h2>Socjologia rodziny</h2>

  <p>
    Socjologia rodziny zajmuje się badaniem struktury, funkcji i przemian
    współczesnej rodziny jako podstawowej instytucji społecznej. Współczesne
    badania w tym obszarze koncentrują się na nowych formach życia rodzinnego,
    transformacji ról płciowych, relacjach międzypokoleniowych oraz wpływie
    zmian społeczno-ekonomicznych na funkcjonowanie rodzin. Tematy z socjologii
    rodziny są popularne ze względu na dostępność respondentów i możliwość
    prowadzenia zarówno badań ilościowych, jak i pogłębionych wywiadów
    biograficznych.
  </p>

  <ol>
    <li>
      Transformacja modelu rodziny w Polsce po 1989 roku w narracjach trzech
      pokoleń kobiet
    </li>
    <li>
      Podział obowiązków domowych w związkach partnerskich osób z wyższym
      wykształceniem – badania par bezdzietnych
    </li>
    <li>
      Wpływ pracy zdalnej na relacje rodzinne w gospodarstwach domowych z
      dziećmi w wieku szkolnym
    </li>
    <li>
      Strategie godzenia ról zawodowych i rodzicielskich przez ojców aktywnie
      zaangażowanych w opiekę nad dziećmi
    </li>
    <li>
      Doświadczenie macierzyństwa kobiet po 35. roku życia – analiza
      biograficzna
    </li>
    <li>
      Relacje między dorosłymi dziećmi a starzejącymi się rodzicami w kontekście
      opieki długoterminowej
    </li>
    <li>
      Przemiany instytucji małżeństwa w percepcji młodych dorosłych pokolenia Z
    </li>
    <li>
      Rodziny patchworkowe w Polsce – strategie budowania więzi w rodzinach
      zrekonstruowanych
    </li>
    <li>
      Wpływ migracji zarobkowej rodziców na funkcjonowanie rodziny – perspektywa
      dorosłych dzieci eurosieroct
    </li>
    <li>
      Kohabitacja jako alternatywa dla małżeństwa – motywy i doświadczenia par
      nieformalnych
    </li>
    <li>
      Bezdzietność z wyboru – konstruowanie tożsamości i strategie legitymizacji
      decyzji w społeczeństwie pronatalnym
    </li>
    <li>
      Rola dziadków w socjalizacji wnuków w rodzinach wielopokoleniowych w
      małych miastach
    </li>
  </ol>

  <h2>Socjologia pracy i organizacji</h2>

  <p>
    Socjologia pracy i organizacji bada relacje społeczne w miejscu pracy,
    kultury organizacyjne, przemiany rynku pracy oraz wpływ pracy na życie
    jednostek i społeczeństw. Współczesne badania koncentrują się na
    prekaryzacji zatrudnienia, pracy platformowej, work-life balance oraz
    transformacji pracy w erze cyfryzacji. Ten obszar tematyczny pozwala na
    prowadzenie badań w konkretnych organizacjach lub wśród przedstawicieli
    określonych grup zawodowych.
  </p>

  <ol start="13">
    <li>
      Prekaryzacja zatrudnienia a poczucie bezpieczeństwa ontologicznego młodych
      pracowników sektora usług
    </li>
    <li>
      Kultura organizacyjna korporacji międzynarodowych w percepcji polskich
      pracowników – studium przypadku firmy X
    </li>
    <li>
      Doświadczenie pracy platformowej kurierów food delivery w dużym mieście –
      analiza socjologiczna
    </li>
    <li>
      Strategie budowania kariery zawodowej przez kobiety w branżach
      zdominowanych przez mężczyzn
    </li>
    <li>
      Mobbing w miejscu pracy – perspektywa ofiar i świadków w sektorze
      publicznym
    </li>
    <li>
      Wpływ automatyzacji na tożsamość zawodową pracowników produkcyjnych w
      przemyśle motoryzacyjnym
    </li>
    <li>
      Praca zdalna a więzi społeczne w zespołach pracowniczych – badania w
      firmach IT
    </li>
    <li>
      Wypalenie zawodowe pracowników socjalnych – uwarunkowania i strategie
      radzenia sobie
    </li>
    <li>
      Freelancing jako styl życia – konstrukcja tożsamości zawodowej wolnych
      strzelców w branży kreatywnej
    </li>
    <li>
      Dyskryminacja ze względu na wiek na polskim rynku pracy – doświadczenia
      osób 50+
    </li>
    <li>
      Kultura overworku w korporacjach finansowych – mechanizmy normalizacji
      nadmiernej pracy
    </li>
    <li>
      Związki zawodowe w percepcji młodych pracowników – kryzys czy
      transformacja ruchu związkowego?
    </li>
  </ol>

  <h2>Socjologia miasta i przestrzeni</h2>

  <p>
    Socjologia miasta i przestrzeni bada społeczne aspekty życia w miastach,
    procesy urbanizacji, gentryfikacji oraz relacje między przestrzenią fizyczną
    a życiem społecznym. Współczesne badania koncentrują się na rewitalizacji,
    ruchach miejskich, suburbanizacji oraz nierównościach przestrzennych. Tematy
    z tego obszaru pozwalają na stosowanie różnorodnych metod – od analiz
    statystycznych, przez obserwacje uczestniczące, po wywiady z mieszkańcami i
    aktywistami miejskimi.
  </p>

  <ol start="25">
    <li>
      Gentryfikacja dzielnicy X w Warszawie – perspektywa dawnych i nowych
      mieszkańców
    </li>
    <li>
      Społeczne skutki rewitalizacji przestrzeni postindustrialnych na
      przykładzie dzielnicy Y
    </li>
    <li>
      Suburbanizacja a poczucie wspólnoty – życie społeczne w podmiejskich
      osiedlach domów jednorodzinnych
    </li>
    <li>
      Ruchy miejskie jako forma partycypacji obywatelskiej – studium przypadku
      ruchu lokatorskiego w mieście X
    </li>
    <li>
      Społeczne użytkowanie przestrzeni publicznych w centrum miasta – analiza
      placu X metodą obserwacji
    </li>
    <li>
      Gettoizacja przestrzeni miejskiej – analiza enklaw biedy w mieście
      średniej wielkości
    </li>
    <li>
      Osiedla grodzone jako przejaw fragmentacji społecznej w polskich miastach
    </li>
    <li>
      Tożsamość miejsca i przywiązanie do dzielnicy wśród mieszkańców starej
      zabudowy
    </li>
    <li>
      Konflikty przestrzenne wokół inwestycji deweloperskich – perspektywa
      mieszkańców i inwestorów
    </li>
    <li>
      Społeczne funkcje ogrodów działkowych w mieście – badania wśród
      działkowców pokolenia X i Y
    </li>
    <li>
      Życie społeczne w wielkich osiedlach z wielkiej płyty – ciągłość i zmiana
      po 40 latach
    </li>
    <li>
      Smart city a wykluczenie cyfrowe – społeczne aspekty cyfryzacji usług
      miejskich
    </li>
  </ol>

  <h2>Socjologia kultury i mediów</h2>

  <p>
    Socjologia kultury i mediów zajmuje się badaniem produkcji, dystrybucji i
    konsumpcji dóbr kulturowych oraz roli mediów w kształtowaniu życia
    społecznego. Współczesne badania koncentrują się na kulturze cyfrowej,
    mediach społecznościowych, przemianach praktyk kulturowych oraz wpływie
    nowych technologii na komunikację i relacje społeczne. Badania w tym
    obszarze mogą wykorzystywać analizę treści, netnografię oraz badania
    odbiorców.
  </p>

  <ol start="37">
    <li>
      Praktyki konsumpcji kultury wysokiej wśród młodzieży wielkomiejskiej –
      ciągłość i zmiana wzorów
    </li>
    <li>
      Influencerzy jako nowi liderzy opinii – mechanizmy budowania autorytetu w
      mediach społecznościowych
    </li>
    <li>
      Kultura memowa jako forma komentarza społecznego – analiza memów
      politycznych
    </li>
    <li>
      Binge-watching jako praktyka kulturowa – społeczne konteksty oglądania
      seriali
    </li>
    <li>Społeczności fanowskie w erze cyfrowej – studium fandomu serialu X</li>
    <li>
      Fake news i dezinformacja – strategie weryfikacji informacji wśród
      użytkowników mediów społecznościowych
    </li>
    <li>
      Kultura uczestnictwa w platformach streamingowych – od odbiorcy do twórcy
    </li>
    <li>
      Społeczne funkcje festiwali muzycznych – badania uczestników festiwalu X
    </li>
    <li>
      Cyfrowe wykluczenie seniorów – bariery uczestnictwa w kulturze cyfrowej
      osób 65+
    </li>
    <li>
      Przemiany czytelnictwa w Polsce – praktyki lekturowe młodych dorosłych w
      erze cyfrowej
    </li>
    <li>
      Podcasty jako nowe medium – profile słuchaczy i funkcje społeczne
      podcastów
    </li>
    <li>
      Cancel culture w polskim internecie – mechanizmy i konsekwencje ostracyzmu
      cyfrowego
    </li>
  </ol>

  <h2>Socjologia zdrowia i medycyny</h2>

  <p>
    Socjologia zdrowia i medycyny bada społeczne uwarunkowania zdrowia i
    choroby, relacje lekarz-pacjent, nierówności zdrowotne oraz funkcjonowanie
    systemów opieki zdrowotnej. Współczesne badania koncentrują się na
    medykalizacji życia codziennego, społecznych aspektach chorób przewlekłych,
    zdrowiu psychicznym oraz wpływie pandemii na zachowania zdrowotne. Badania
    wymagają często współpracy z placówkami medycznymi lub organizacjami
    pacjenckimi.
  </p>

  <ol start="49">
    <li>
      Społeczne doświadczenie choroby przewlekłej – narracje osób z cukrzycą
      typu 2
    </li>
    <li>
      Stygmatyzacja osób z zaburzeniami psychicznymi w środowisku pracy –
      perspektywa osób chorujących
    </li>
    <li>
      Nierówności zdrowotne a status społeczno-ekonomiczny – analiza dostępu do
      opieki zdrowotnej w mieście X
    </li>
    <li>
      Relacja lekarz-pacjent w erze medycyny internetowej – wpływ samodzielnego
      poszukiwania informacji zdrowotnych
    </li>
    <li>
      Medykalizacja macierzyństwa – doświadczenia kobiet w systemie opieki
      perinatalnej
    </li>
    <li>
      Społeczne uwarunkowania zachowań antyzdrowotnych młodzieży – palenie,
      alkohol, narkotyki
    </li>
    <li>
      Pandemia COVID-19 a zdrowie psychiczne studentów – doświadczenia izolacji
      i nauki zdalnej
    </li>
    <li>
      Społeczny odbiór szczepień ochronnych – postawy i argumentacje osób
      nieszczepiących dzieci
    </li>
    <li>
      Choroba nowotworowa w rodzinie – doświadczenia opiekunów nieformalnych
      osób onkologicznych
    </li>
    <li>
      Ciało i cielesność w doświadczeniu osób po mastektomii – rekonstrukcja
      tożsamości
    </li>
    <li>
      Medycyna alternatywna jako strategia zdrowotna – motywy i doświadczenia
      użytkowników
    </li>
    <li>
      Opieka paliatywna i hospicyjna w Polsce – społeczne aspekty umierania i
      żałoby
    </li>
  </ol>

  <h2>Socjologia edukacji</h2>

  <p>
    Socjologia edukacji bada społeczne funkcje systemu oświaty, nierówności
    edukacyjne, relacje w środowisku szkolnym oraz wpływ edukacji na mobilność
    społeczną. Współczesne badania koncentrują się na reprodukcji nierówności,
    kulturze szkoły, przemocy rówieśniczej oraz reformach edukacyjnych i ich
    społecznych skutkach. Badania mogą być prowadzone wśród uczniów, studentów,
    nauczycieli lub rodziców.
  </p>

  <ol start="61">
    <li>
      Reprodukcja nierówności społecznych w systemie edukacji – szanse
      edukacyjne dzieci z rodzin o niskim statusie
    </li>
    <li>
      Ukryty program szkoły – socjalizacja do ról płciowych w podręcznikach i
      praktykach nauczycieli
    </li>
    <li>
      Przemoc rówieśnicza w szkole podstawowej – perspektywa ofiar, sprawców i
      świadków
    </li>
    <li>
      Kapitał kulturowy rodziny a osiągnięcia szkolne uczniów – badania w
      szkołach zróżnicowanych społecznie
    </li>
    <li>
      Doświadczenie studiowania pierwszego pokolenia studentów w rodzinie –
      bariery i strategie adaptacji
    </li>
    <li>
      Nauczyciele wobec reformy edukacji – postawy i strategie adaptacyjne w
      kontekście zmian systemowych
    </li>
    <li>
      Korepetycje jako shadow education – nierówności w dostępie i społeczne
      funkcje rynku korepetycji
    </li>
    <li>
      Szkoły niepubliczne a segregacja społeczna – motywy wyboru szkoły
      prywatnej przez rodziców
    </li>
    <li>
      Doświadczenie edukacji zdalnej podczas pandemii – perspektywa uczniów i
      nauczycieli
    </li>
    <li>
      Społeczne funkcje szkolnictwa zawodowego – tożsamość i aspiracje uczniów
      techników i szkół branżowych
    </li>
    <li>
      Cyberprzemoc w szkole średniej – mechanizmy, konsekwencje i strategie
      przeciwdziałania
    </li>
    <li>
      Rola szkoły w integracji dzieci z doświadczeniem migracji – badania w
      szkołach wielokulturowych
    </li>
  </ol>

  <h2>Socjologia polityki i ruchów społecznych</h2>

  <p>
    Socjologia polityki i ruchów społecznych bada zbiorowe formy działania
    społecznego, partycypację polityczną, ruchy protestu oraz przemiany kultury
    politycznej. Współczesne badania koncentrują się na nowych ruchach
    społecznych, populizmie, polaryzacji politycznej oraz aktywizmie cyfrowym.
    Badania mogą obejmować analizę dyskursu, obserwacje uczestniczące podczas
    protestów lub wywiady z aktywistami.
  </p>

  <ol start="73">
    <li>
      Strajk Kobiet jako ruch społeczny – mobilizacja, tożsamość i repertuar
      działań
    </li>
    <li>
      Ruchy klimatyczne w Polsce – motywacje i doświadczenia młodych aktywistów
    </li>
    <li>
      Polaryzacja polityczna a relacje rodzinne – doświadczenie konfliktu
      światopoglądowego w rodzinach
    </li>
    <li>
      Populizm w Polsce – analiza dyskursu i społeczna baza poparcia dla partii
      populistycznych
    </li>
    <li>
      Absencja wyborcza młodych Polaków – przyczyny i społeczne uwarunkowania
      bierności politycznej
    </li>
    <li>
      Aktywizm cyfrowy jako forma partycypacji politycznej – slacktivism czy
      rzeczywiste zaangażowanie?
    </li>
    <li>
      Ruchy miejskie jako szkoła demokracji – trajektorie zaangażowania
      obywatelskiego aktywistów
    </li>
    <li>
      Społeczny odbiór protestów – postawy Polaków wobec różnych form
      manifestacji niezadowolenia
    </li>
    <li>
      Lokalni liderzy społeczni – ścieżki zaangażowania i motywacje działaczy w
      małych społecznościach
    </li>
    <li>
      Organizacje pozarządowe jako przestrzeń socjalizacji politycznej młodzieży
    </li>
  </ol>

  <h2>Socjologia migracji i etniczności</h2>

  <p>
    Socjologia migracji i etniczności bada procesy przemieszczania się ludności,
    integrację imigrantów, relacje międzyetniczne oraz tożsamość w kontekście
    mobilności. Współczesne badania koncentrują się na migracjach poakcesyjnych
    Polaków, imigracji do Polski, uchodźstwie oraz wielokulturowości. Badania
    często wymagają dostępu do społeczności migranckich i znajomości kontekstu
    kulturowego.
  </p>

  <ol start="83">
    <li>
      Integracja imigrantów ukraińskich w Polsce po 2022 roku – strategie
      adaptacji i bariery
    </li>
    <li>
      Migracja powrotna Polaków z Wielkiej Brytanii – motywy powrotu i
      doświadczenie readaptacji
    </li>
    <li>
      Transnarodowe rodziny polskich migrantów – utrzymywanie więzi na odległość
    </li>
    <li>
      Drugie pokolenie imigrantów wietnamskich w Polsce – tożsamość i strategie
      akulturacji
    </li>
    <li>
      Postawy Polaków wobec uchodźców – zmiana postaw po kryzysie migracyjnym
      2015 i 2022 roku
    </li>
    <li>
      Doświadczenie dyskryminacji imigrantów z Afryki Subsaharyjskiej w polskich
      miastach
    </li>
    <li>
      Społeczności muzułmańskie w Polsce – praktyki religijne i strategie
      integracji
    </li>
    <li>
      Migracje edukacyjne – doświadczenia zagranicznych studentów na polskich
      uczelniach
    </li>
    <li>
      Mobilność wewnętrzna w Polsce – migracje ze wsi do miast i ich społeczne
      konsekwencje
    </li>
    <li>
      Uchodźcy w Polsce – trajektorie integracji i doświadczenie systemu
      azylowego
    </li>
  </ol>

  <h2>Socjologia religii</h2>

  <p>
    Socjologia religii bada społeczne aspekty zjawisk religijnych, w tym
    instytucje religijne, religijność indywidualną, sekularyzację oraz nowe
    formy duchowości. Współczesne badania koncentrują się na przemianach
    religijności w Polsce, relacjach państwo-Kościół oraz indywidualizacji
    wiary. Badania mogą obejmować ankiety dotyczące praktyk religijnych, wywiady
    z wiernymi lub analizę dyskursu religijnego.
  </p>

  <ol start="93">
    <li>
      Przemiany religijności młodych Polaków – od katolicyzmu instytucjonalnego
      do duchowości indywidualnej
    </li>
    <li>
      Odchodzenie od Kościoła katolickiego – narracje osób, które porzuciły
      wiarę lub instytucję
    </li>
    <li>
      Nowe ruchy religijne w Polsce – drogi konwersji i doświadczenie
      członkostwa
    </li>
    <li>
      Religia w przestrzeni publicznej – społeczny odbiór symboli religijnych w
      instytucjach państwowych
    </li>
    <li>
      Wspólnoty parafialne jako źródło kapitału społecznego w społecznościach
      lokalnych
    </li>
    <li>
      Praktyki religijne a postawy polityczne – związki między religijnością a
      orientacją polityczną
    </li>
    <li>
      Duchowość bez religii – poszukiwania transcendencji poza instytucjami
      religijnymi
    </li>
    <li>
      Kościół katolicki w percepcji osób LGBT+ – doświadczenie wykluczenia i
      strategie radzenia sobie
    </li>
  </ol>

  <h2>Problemy społeczne i dewiacje</h2>

  <p>
    Socjologia problemów społecznych i dewiacji zajmuje się badaniem zjawisk
    definiowanych jako społecznie niepożądane, ich przyczyn, konsekwencji oraz
    reakcji społecznych. Współczesne badania koncentrują się na ubóstwie,
    bezdomności, uzależnieniach, przestępczości oraz marginalizacji społecznej.
    Badania w tym obszarze wymagają często szczególnej wrażliwości etycznej i
    dostępu do trudno dostępnych grup.
  </p>

  <ol start="101">
    <li>
      Społeczne uwarunkowania bezdomności kobiet – ścieżki do bezdomności i
      strategie przetrwania
    </li>
    <li>
      Stygmatyzacja osób uzależnionych od narkotyków – perspektywa osób w
      terapii i po terapii
    </li>
    <li>
      Ubóstwo dzieci w Polsce – doświadczenie deprywacji materialnej w
      narracjach dzieci i rodziców
    </li>
    <li>
      Wykluczenie społeczne byłych więźniów – bariery reintegracji po
      opuszczeniu zakładu karnego
    </li>
    <li>
      Przemoc domowa wobec mężczyzn – ukryty problem społeczny w perspektywie
      ofiar
    </li>
    <li>
      Handel ludźmi w Polsce – mechanizmy werbunku i doświadczenia ofiar
      przymusowej pracy
    </li>
    <li>
      Hazard jako problem społeczny – społeczne uwarunkowania i konsekwencje
      uzależnienia od gier
    </li>
    <li>
      Prostytucja w Polsce – doświadczenia osób pracujących w sex biznesie i
      postawy społeczne
    </li>
  </ol>

  <h2>Jak wybrać temat pracy z socjologii?</h2>

  <p>
    Wybór tematu pracy magisterskiej z socjologii powinien uwzględniać kilka
    kluczowych aspektów. Po pierwsze, określ dostęp do grupy badawczej – czy
    masz możliwość dotarcia do respondentów reprezentujących badaną kategorię
    społeczną? Badania wśród grup trudno dostępnych (bezdomni, migranci, osoby
    uzależnione) wymagają szczególnych strategii rekrutacji. Po drugie, rozważ
    metodologię – badania jakościowe (wywiady pogłębione, obserwacja) pozwalają
    na głębsze zrozumienie doświadczeń, podczas gdy badania ilościowe
    umożliwiają testowanie hipotez na większych próbach. Po trzecie, wybierz
    temat społecznie istotny i aktualny – socjologia powinna odpowiadać na
    rzeczywiste problemy społeczne.
  </p>

  <p>
    Przedstawione tematy stanowią punkt wyjścia do dalszych poszukiwań. Każdy z
    nich można dostosować do lokalnego kontekstu (konkretne miasto, dzielnica,
    instytucja) lub specyficznej grupy badawczej. Przed ostatecznym wyborem
    tematu skonsultuj się z promotorem, który pomoże ocenić jego wartość naukową
    i wykonalność. Pamiętaj o etyce badań socjologicznych – szczególnie przy
    tematach dotyczących grup wrażliwych niezbędne jest zapewnienie
    anonimowości, dobrowolności uczestnictwa oraz unikanie krzywdzenia badanych.
  </p>

  <h2>Metodologia badań socjologicznych</h2>

  <p>
    Badania socjologiczne mogą przyjmować formę ilościową lub jakościową, a
    coraz częściej stosuje się podejścia mieszane. Metody ilościowe – przede
    wszystkim badania ankietowe (CAWI, CATI, PAPI) – pozwalają na objęcie dużych
    prób i statystyczną analizę zależności między zmiennymi. Metody jakościowe –
    wywiady pogłębione, wywiady narracyjne, fokusowe, obserwacja uczestnicząca,
    analiza dokumentów – umożliwiają głębsze zrozumienie znaczeń, doświadczeń i
    procesów społecznych. Wybór metodologii powinien wynikać z charakteru
    problemu badawczego oraz epistemologicznych założeń badacza.
  </p>

  <p>
    Specyfiką badań socjologicznych jest ich refleksyjność – badacz jest częścią
    badanego świata społecznego, co wpływa na proces badawczy i jego wyniki.
    Należy pamiętać o zasadach etyki badań społecznych, w tym o świadomej
    zgodzie uczestników, poufności danych, prawie do wycofania się z badania
    oraz zasadzie nieszkodzenia. Szczególnej wrażliwości wymagają badania wśród
    grup wrażliwych i marginalizowanych. Warto korzystać z dostępnych źródeł
    danych zastanych – statystyk publicznych, raportów badawczych, danych z
    Polskiego Generalnego Sondażu Społecznego czy Europejskiego Sondażu
    Społecznego.
  </p>
</ArticleLayout>
